<%= form_with(model: note, data: { controller: "spinner" }, class: "flex flex-col p-2") do |form| %>
  <% if note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col py-2">
    <%= form.label :message, class: "font-bold text-lg" %>
    <%= form.text_field "message", maxlength: 60, class: "rounded-lg border focus:border-purple-500 focus:outline-none p-2 break-words", autocomplete: "off", required: true %>
  </div>

  <div class="flex flex-col py-2">
    <%= form.label :from_user, class: "font-bold text-lg" %>
    <%= form.text_field "from_user", maxlength: 60, class: "rounded-lg border focus:border-purple-500 focus:outline-none p-2 break-words", autocomplete: "off", required: true %>
  </div>

  <div class="flex justify-center p-2">
    <button type="submit" class="rounded-lg bg-purple-300 text-white px-4 py-2 w-fit inline-flex items-center">
      <span>Save</span>
    </button>
  </div>
<% end %>
