<!DOCTYPE html>
<html>
  <head>
    <title>FlyPhlexWired</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script async defer data-domain="fly-phlex-wired.fly.dev" src="https://analytics.karn.work/js/plausible.js"></script>
  </head>

  <body>
    <%= render NavbarComponent.new %>
    <main class="container mx-auto py-12 px-5 flex flex-col relative">
      <%= yield %>
    </main>
  </body>
</html>
